h1{
  text-align: center;
  background-color: yellow;
}

@media only screen and (max-width:600px){
  h1{
    background-color: red;
  }
}

@media (min-width:768px){
  h1{
    background-color: darkolivegreen;
  }
}