h1{
  width: 200px;
  height: 200px;
  background-color: darkred;
  color: whitesmoke;
  transition: width 2s linear 1s, height 3s ease 2s, font-size 4s ease-in-out 3s;
}

h1:hover{
  width: 400px;
  font-size: 5rem;
  height: 600px;
}