table {
  /* border: 1px solid black; */
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border-bottom: 1px solid black;
  padding: 5px;
  vertical-align: bottom;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

